.wrapper {
    width: 40vw;
    margin-left: 3%;
    margin-top: -3%;
    position: relative;
}

.buttonsWrapper {
    position: absolute;
    right: 2%;
    top: 84%;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.inputWrapper {
    width: 50%;
}