.wrapper {
    width: 73vw;
    display: flex;
    flex-direction: column;
    padding: 0 4%;
}

.inputWrapper {
    width: 50%;
}

.textareaWrapper {
    width: 64%;
    height: 6.5rem;
    margin-bottom: 1.5%;
}

.title {
    display: flex;
    align-items: center;
    gap: 1.5%;
    margin-left: -4%;
    margin-top: -1.5%;
}

.title > h1 {
    color: #00023B;
}

.buttonsWrapper {
    position: absolute;
    right: 4%;
    top: 79%;
    width: 23%;
    display: flex;
    justify-content: space-between;
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: 2%;
    color: #00023B;
    margin-top: -2%;
}

.titleWrapper > h1 {
    color: #00023B;
}