.steps-wrapper {
    display: flex;
    width: 85%;
    flex-direction: column;
    row-gap: 1.7vh;
    margin-left: 5%;
}

.step-circle {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background: #4F95FF;
}

.inactive {
    background: rgba(0, 0, 0, 0.35);
}

.step {
    display: flex;
    width: 100%;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    cursor: default;
}

.step-text {
    align-self: center;
    justify-self: center;
    margin-left: 15px;
}

.step-text.active {
    background: initial;
    color: #4F95FF;
}

.step-text.inactive {
    background: initial;
    color: rgba(0, 0, 0, 0.35);
}

.update-code-msg {
    font-size: 1.02rem;
    color: rgba(0, 0, 0, 0.35);
    font-weight: 700;
    cursor: default;
}

.code-msg-link {
    text-decoration: underline;
    color: rgba(79, 149, 255, 1);
    cursor: pointer;
}

.code-msg-link.not-available {
    color: rgba(79, 149, 255, .5);
    cursor: default;
    pointer-events: none;
}